#window{
	display: flex;
	margin: 0;
	
	background-color: #78a;
}

#tools{
	display: flex;
	flex-direction: column;
	
	padding-top: 5vh;
	
	width: 10vh;
}

.tool{
	margin: 1vh;
	
	width: 8vh;
	height: 8vh;
}

#map{
	display: flex;
	
	width: 100vh;
	height: 100vh;
}

#border{
	flex-grow: 1;
	
	margin: 3vh;
	
	background-color: white;
}

#blocks{
	display: flex;
	flex-direction: column;
	
	width: 40vw;
	
	height: 100%;
}

#buttons{
	display: flex;
	
	margin-top: 5vh;
	
	flex: 0 0 10vh;
}

.button{
	width: 25vh;
	
	margin-top: 2vh;
	
	line-height: 100%;
	
	background-color: white;
}

#lists{
	display: flex;
	flex-direction: column;
	
	width: 100%;
}

.list{
	display: flex;
	overflow-y: scroll;
	flex-wrap: wrap;
	
}

.head_cats{
	align-self: center;

	margin: 0;
	
	width: 100%;
	
	background-color: black;
	color: white;
}

.block{
	margin: 1vh;
	
	width: 10vh;
	height: 10vh;
}


